.blurb {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}

#description {
    font-family: 'Merriweather', serif;
    color: #aaa;
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
}

.my-4 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #3a4145;
    font-weight: 700;
    font-size: 3rem;
}

.header-section{
    border: 2px solid lightgrey;
    background-color: #f5f8fa;
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section-header {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 5px;
    text-align: center;
}

.card-text {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.card:hover {
    box-shadow: 0 5px 5px rgba(176, 184, 185, 0.705), 0 5px 5px rgba(187, 187, 187, 0.534);
    transition: 0.5s;
    -moz-transform: scale(1.025);
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}

.technologies {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.repolink {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}